# Ignore the compiled Linux binary file
engine

# Ignore the compiled Windows executable file
engine.exe

# Ignore all session log text files
*.txt
!CMakeLists.txt
# Ignore Aider AI assistant tracking logs and cache databases
.aider*
.cache.db

# Visual Studio
.vs/
out/
build/
*.user
*.sln
*.vcxproj
*.filters
*.proto
CMakeSettings.json
CMakeUserPresets.json
